<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>azerty</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>azerty</string>
	<key>API_KEY</key>
	<string>azerty</string>
	<key>GCM_SENDER_ID</key>
	<string>&amp;é&quot;&apos;</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kcourtois.TheRing</string>
	<key>PROJECT_ID</key>
	<string>azerty</string>
	<key>STORAGE_BUCKET</key>
	<string>azerty</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:737440681541:ios:4d90736ba1691ba0</string>
	<key>DATABASE_URL</key>
	<string>https://project.firebaseio.com</string>
</dict>
</plist>
